*{
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  padding-top: 5vh;
  margin: 0;
}
.barra {
  background-color: #fad27d;
  height: 10vh;
  width: 100%;
  box-shadow: 0 0 5px #4b3e23;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.barra p {
  font-family: Tahoma;
  font-size: 2vw;
  color: #4b3e23;
  font-weight: 600;
  padding: 0 2vw;
  text-align: justify;
}

.botoes {
  padding: 1vw 2vw;
}

.botoes a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2vw;
  font-weight: 600;
  color: mediumblue;
  border-radius: 2vw;
  padding: 0 2vw;
  text-decoration: none;
}

.botoes a:hover {
  color: red;
  transition: 0.7s linear;
}

.imagemLogo {
  min-height: 100%;
  max-height: 140%;
  margin: 3px;
  border-radius: 100px;
}

.search-box {
  display: flex;
  align-items: center;
  width: 75px;
  height: 40px;
  border: 1px ;
  border-radius: 15px;
  overflow: hidden;
  transition: width .75s ease;
}
.search-box:hover{
  width: 400px;
}
@media (max-width:768px) {
  .search-box:hover{
      width: 320px;
  }
}
.search-box input[type="text"] {
  flex-grow: 2;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  width: 0;
  overflow: hidden;
  transition: all .75s ease ;
}
.search-box:hover input[type="text"]{
  width: 400px;
  padding-inline: 1.5rem;
}
.search-box button[type="submit"] {
  width: 75px;
  height: 100%;
  background-color:orange;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-box button[type="submit"]:hover {
  background-color: orange;
}

.search-box i {
  color: #fff;
  font-size: 1.5rem;
}