.barra {
  background-color: #fad27d;
  top: 0;
  left: 0;
  right: 0;
  height: 3vw;
  width: 100%;
  position: absolute;
  box-shadow: 0 0 5px #4b3e23;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.barra p {
  /*
  tá com erro, o título fica fora da barra e eu não descobri como consertar ainda
  ele fica abaixo do local certo 
  */
  font-family: Tahoma;
  font-size: 2vw;
  color: #4b3e23;
  font-weight: 600;
  padding: 0 2vw;
}

.botoes {
  padding: 1vw 2vw;
}

.botoes a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2vw;
  font-weight: 600;
  color:mediumblue;
  border-radius: 2vw;
  padding: 0 2vw;
  text-decoration: none;
}

.botoes a:hover {
  color:red;
  transition: 0.5s linear;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.imagemLogo {
  height: 3vw;
  margin: 3px;
  border-radius: 15px;
}
