@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
  

.checklist {
    list-style-type: none;
    padding: 0;
}

.checklist li {
    display: flex;
    align-items: center;
    margin: 10px;
}

.checklist li input[type="checkbox"] {
    margin-right: 10px;
    display: none;
}

.checklist li label {
    cursor: pointer;
}

/* Estilo para a caixa de seleção quando marcada */
.checklist li input[type="checkbox"]:checked + label:before {
    content: "\2713"; /* Símbolo de checkmark */
    font-size: 18px;
    color: green;
}

/* Animação ao marcar ou desmarcar a caixa de seleção */
.checklist li input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.checklist li input[type="checkbox"]:checked + label:before {
    background-color: #ccc;
    border-color: #ccc;
}

.tituloExperimento {
    font-size: 30px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    position: relative;
    right: 9.5cm;
    top: 6cm;
    text-transform: uppercase;
    background: linear-gradient(45deg,  rgb(255, 96, 22),rgb(255, 133, 76),rgb(255, 154, 107), rgb(255, 96, 22) );
    background-size: 400% 100%;
    animation: degradeExperimentos 10s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .tituloExperimento2 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    right: -2.5cm;
    top: 44cm;
    text-transform: uppercase;
    background: linear-gradient(45deg,  rgb(255, 96, 22),rgb(255, 133, 76),rgb(255, 154, 107), rgb(255, 96, 22) );
    background-size: 400% 100%;
    animation: degradeExperimentos 10s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @keyframes degradeExperimentos {
    0%{
      background-position-x: 0%;
    }
    100%{
      background-position: 400%;
    }
  }
  
  span{
    color:  rgb(255, 96, 22);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    position: relative;
  }
  
  .formula-block {
    background-color: #a8dd7c;
    padding: 20px;
    border: 1px solid #a8dd7c;
    border-radius: 5px;
    width: 90%;
    margin: 30px auto;
  }
  .texto-ident-1{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    position: relative;
    right: 21cm;
    top: 22cm;
    text-align: justify;
    width:90%;
  }
  
  .texto-ident-2{
    color: black;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    position: relative;
    right: -3.5cm;
    top: 1650px;
    width: 30%;
  }
  
  .video-container-1 {
    display: flex;  
    flex: 1;
    margin-right: 20px;
    margin-top: 7cm; 
    margin-left: 20cm;
  }
  .video-container-2 {
    display: flex;  
    flex: 1;
    margin-right: 20px;
    margin-top: -4cm; 
    margin-left: 20cm;
  }
  
  .simulation-container {
    width: 500px; 
    height: 300px; 
    margin: 1300px 3.3cm; 
  }
