@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header p {
  font-size: 1.3vw;
  font-weight: 400;
  margin: 2vw 0 3vw 0;
  background: linear-gradient(
    45deg,
    rgb(255, 91, 15),
    rgb(247, 148, 103),
    rgb(252, 190, 161),
    rgb(255, 91, 15)
  );
  background-size: 500% 100%;
  animation: degradeExperimentos 10s linear infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Item-container {
  display: flex;
  justify-content: center;
  text-align: justify;
  align-items: center;
  flex-direction: column;
}
.Item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70vw;
  height: 22vw;
  border-radius: 10px;
  margin: 1vw;
}

.Item-description h3 {
  font-size: 1.8vw;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.Item-description p {
  font-size: 1.4vw;
  font-weight: 500;
  padding: 1vw 2vw;
}
.space {
  margin: 2vw;
}

.titulo {
  font-size: 30px;

  font-family: "Poppins", sans-serif;
  position: relative;
  top: 3vw;
  text-transform: uppercase;
  background: linear-gradient(
    45deg,
    rgb(255, 91, 15),
    rgb(247, 148, 103),
    rgb(252, 190, 161),
    rgb(255, 91, 15)
  );
  background-size: 500% 100%;
  animation: degradeExperimentos 10s linear infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes degradeExperimentos {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position: 400%;
  }
}
