.barra {
  background-color: #fad27d;
  top: 0;
  left: 0;
  right: 0;
  height: 5vw;
  width: 100%;
  position: absolute;
  box-shadow: 0 0 5px #4b3e23;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.barra p {
  font-family: Tahoma;
  font-size: 2vw;
  color: #4b3e23;
  font-weight: 600;
  padding: 0 2vw;
  text-align: justify;
}

.botoes {
  padding: 1vw 2vw;
}

.botoes a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2vw;
  font-weight: 600;
  color: mediumblue;
  border-radius: 2vw;
  padding: 0 2vw;
  text-decoration: none;
}

.botoes a:hover {
  color: red;
  transition: 0.7s linear;
}

.imagemLogo {
  min-height: 2vw;
  max-height: 4vw;
  margin: 3px;
  border-radius: 100px;
}
